.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #C6FF00;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 20px;
}
.active {
  background-color: black;
  color: white;
}
